<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">{{ $.Site.Copyright | safeHTML }}</div>
    {{else}}
      <div class="copyright">
        <span>Organisiert von Mitgliedern des <a href="https://frrm.de/">Freiraum</a> :: <a href="https://frrm.de/imprint/">Impressum</a></span>
      </div>
    {{end}}
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
