    @font-face {
		font-family: 'Orbitron';
        src: url('Orbitron-Regular.ttf');
    }
	   @font-face {
        font-family: "NovaSquare";
        src: url("NovaSquare.ttf");
	}

    html {
        min-height: 100vh;
        background-color: #000000;
        font-family: 'NovaSquare', sans-serif;   
		font: NovaSquare;
        color: #e6e6e6;
    }
    body {
        margin: 0;
		font-family: 'NovaSquare', sans-serif;   

    }
    * {
      box-sizing: border-box;
    }
    .menu {
      float:left;
      width:25%;
      text-align:center;
    }

    #alist
    {
         height: 100%; 
         max-width: 200px;
         float:right; 
    }    

    .menu a, .menu a:visited, .menu a:link {
        float: right;
        padding: 0.25em;
        margin-top: 10px;
        margin-left: 200px;
        display:block;
        width:100%;
        max-width: 200px;
        font-size: 3vh;
        color: #e6007e;
    }
    .main {
      float:left;
      width:50%;
      padding: 0.25em;
      margin-top: 10px;
      font-size: 2vh;
    }

    .main h2 {
        font-family: 'NovaSquare', sans-serif;   
        font-size: 5vh;
		
    }

    .main h3 {
        font-family: 'NovaSquare', sans-serif;   
        font-size: 3vh;
    }

    .main a:link, .main a:visited {

        color: #ff00ff;
    }

    .right {
      float:left;
      width:25%;
    }

    .header {
        color: #e6e6e6;
        letter-spacing: -0.1em;
        margin: 0;
        text-align: center;
    }
    .header h1{
        font-size: 7vh;
        margin: 0;
        
    }
    .header h2{
        font-size: 5vh;
        margin: 0;
    }

    #logo {
        max-height: 400px;
        max-width: 400px;
        height: 50vw;
    }

    #poster {
        max-width: 400px;
    }


    #top {
        position: absolute;
    }

    #footer {
        text-align:center;
        padding:10px;
        margin-top:7px;
    }


    @media only screen and (max-device-width:720px) {
      /* For mobile phones: */
      .menu, .main, .right {
        width:100%;
        max-width:100%;
       }
       .menu{
        margin-top: 1em;
       }
         .menu a {
          padding: 0;
          margin: 0;
          float: left;
          width: 100%;
          max-width:100%;
        }

        .header h1{
        font-family: 'NovaSquare', sans-serif;   
        font-size: 6vh;
        margin: 0;
        
    }
    .header h2{
        font-size: 4vh;
        margin: 0;
    }    
     
    }
